<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="artFinderSettings" type="CockatriceArtFinder.Configuration.ArtFinderSettings,CockatriceArtFinder"/>
  </configSections>
  <!--
  artFinderSettings
    scryfallApiUrl: The URL for the Scryfall API
    customArtDirectory: The path to the Cockatrice Custom Art directory
  -->
  <artFinderSettings
    scryfallApiUrl="https://api.scryfall.com"
    customArtDirectory="C:\Users\ARUTLEDGE\AppData\Local\Cockatrice\Cockatrice\pics\CUSTOM"
  />
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>